body {
  height: 100vh;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
}

main {
  min-height: 100vh;

  flex: 1 0 auto;
}

footer {
  margin: 0 auto;
}

.product-image {
  width: 100%;
}

.list-group {
  float: right;
  margin-right: 100px;
}

@media (max-width: 767px) {
  body {
    display: flex;
  }

  main {
    padding-top: 220px;
    flex: 1 0 auto;
  }
}
