<% layout('layout') -%>


  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron" id="navbar-gap">
    <div class="container">
      <h1>We are the best online store on the Web</h1>
      <p>Shop for everything from A to Z</p>
      <!-- <p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Sign up&raquo;</a>
      </p> -->
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row home-main">
      <div class="col-md-4 home-main-sub">
        <h3>Signup with your email</h3>
        <p>You can use your Facebook ID</p>
      </div>
      <div class="col-md-4 home-main-sub">
        <h3>Easy shopping experience</h3>
        <p>See details of your items</p>
      </div>
      <div class="col-md-4 home-main-sub">
        <h3>All major credit cards accepted</h3>
        <p>Free Shipping on all purchases for $50</p>
      </div>
    </div>